.bg-container {
  margin-left: 80px;
}

.select-category-input {
  height: 35px;
  width: 30%;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 40px;
  outline: none;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  margin-bottom: 15px;
  margin-top: 50px;
  width: 450px;
}

.failure-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  margin-bottom: -10px;
}

.failure-info {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

.failure-retry-button {
  background-color: #328af2;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 10px 25px 10px 25px;
}
